
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.2)), url('image/banner-1.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    
}

p, h2, h3 {
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
}

.header-logo {
    font-size: 3rem;
    color: white;
}

header > img {
    width: 6.8rem;
    margin-top: 1%;
    padding-left: 10%;
}

.header-link {
    margin: 0;
    padding-top: 4%;
}

.header-link > a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin-right: 4%;
    position: relative;
}

.header-link > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(112, 112, 226);
    left: 0;
    bottom: 0;
    transition: 0.5s;
    transform: scale(0);
    margin-top: 3%;
}

.header-link > a:hover:before {
    transform: scale(1);
}

.header-link > a:hover{
    color: rgb(112, 112, 226);
}

.mobile-navigation {
    display: none;
}

.greetings {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%;
}

.greetings-title {
    color: white;
    font-size: 3rem;
    margin: 0;
    padding-top: 20%;
    font-family: 'Merriweather', serif;
}

.greetings-base-text {
    font-size: 1rem;
    color: white;
    padding-right: 30%;
    margin-top: 10%;
}

.greating-text {
    margin-top: 2%;
}

.text-item {
    margin-top: 8%;
    padding-right: 60%;
}

.greetings-name {
    font-weight: 700;
    color: rgb(112, 112, 226);
    font-size: 44px;
    font-family: 'Merriweather', serif;
}

hr{
    height: 1px;
    width: 100%;
    margin-top: 20%;
}

.sprite {
    width: 6rem;
    fill: blue;
}

.statistics {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}

.statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.statistic-title {
    font-weight: 700;
    font-size: 4rem;
    color: white;
    margin: 0;
    font-family: 'Merriweather', serif;
}


.statistic-text {
    color: white;
    font-size: 1.2rem;
    margin-top: 28%;
}

.statistic-second-block {
    padding-top: 2%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    color: white;
}

.statistic-link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 5%;

}

.statistic-link:hover {
    color: rgb(112, 112, 226);;
    cursor: pointer;
    transition: 0.5s;
}

.stat-number{
    font-weight: 700;
    margin: 0.2rem;
    font-size: 4.5rem;
}

.sprt-nub {
    padding-top: 30%;
}

.sprt-nub-first {
    margin-top: 35%;
}

.base-title-first {
    font-size: 1.2rem;
    color: white;
    padding-left: 4%;
    padding-right: 6%;
}

.princeps {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
}

.card-sprite {
    margin: 0;
    width: 7rem;
    fill: rgb(112, 112, 226);
}

.contacts {
    padding-left: 15%;
    padding-right: 15%;
    background-color: black;
    padding-bottom: 2%;
}

.contacts-grid-container {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr ;
}

.map {
    padding-top: 2%;
}

.footer-nav-flex {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.footer-circle {
    border: 1px solid black;
    background-color: rgb(47, 53, 146);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: relative;
    margin-right: 0.5rem;

}

.description-svg {
    fill:rgb(112, 112, 226);;
    height: 1.3rem;
    width: 1.3rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

.description-svg:hover {
    fill:  rgb(29, 29, 66);;
    transition: 0.5s;
}

.footer-title {
    color: black;
}

@media screen and (max-width: 768px) {
    header > img {
        width: 5rem;

    }

    .mobile-navigation {
        display: block;
     }

    .header-link {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 5fr 1fr;
  
    }

    .mobile-dropdown-menu {
        width: 100vw;
        position: absolute;
        left: 0;
        top: -300%;
        background-color: rgba(37, 54, 150, 0.8);
        transition: 1s;
   
    }

    .mobile-dropdown-menu > a {
        padding:1%;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .mobile-menu-btn,.mobile-menu-close {
        fill: white;
        height: 1.4rem;
        width: 1.4rem;
        margin-top: 25%;
    }

    .greetings {
        height: auto;
    }

    .greetings-title {

        font-size: 2rem;
        padding-top: 40%;
    }

    .statistics {
        height: auto;
    }

    .princeps {
        height: auto;
        padding-bottom: 5%;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .base-title-first {
        font-size: 0.8rem;
    }

    .statistic-title {
        font-weight: 700;
        font-size: 2rem;
    }

    .statistic-text {
        font-size: 1rem;
    }

    .stat-number {
        font-size: 2rem;
    }

    .sprite {
        width: 4rem;
    }

    .card-sprite {

        width: 5rem;
    }

    hr{
        margin-top: 5%;
    }

    .footer-circle {
        height: 2rem;
        width: 2rem;
        position: relative;
        margin-right: 0.7rem;
    
    }
    
    .description-svg {
        height: 1.2rem;
        width: 1.2rem; 

    }

    .base-title-first {
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 425px) {
        
    .contacts-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        row-gap: 10%;
    }

    .map {
        margin-top: 4%;
    }
}

@media screen and (max-width: 375px) {
    .statistic-second-block {
 
    display: grid;
    grid-template-columns: 1fr ;
    }

}












